/* This is the external stylesheet for your inventory application.
  It defines the custom background colors and other styles.
*/

/*
  The app-bg class sets the main background color for the entire application.
  This was previously an inline style on the main 'div'.
*/
.app-bg {
    background-color: #4094b0;
}

/*
  The header-bg class sets the background color for the application's header.
  This was previously an inline style on the <h1> element.
*/
.header-bg {
    background-color: #005776;
}

/*
  The footer-bg class sets the background color for the application's footer.
  This was previously an inline style on the footer 'div'.
*/
.footer-bg {
    background-color: #f7c49a;
}
.limble-link{
    text-decoration: underline;
}
.limble-link:hover{
    color: #fc0303;
}
